-
    let burgerMenu1 = [
        {
            title: 'Университет',
            subList: [
                {
                    title: 'Визитка СГУ',
                    subSubList: [
                        {
                            title: 'История СГУ',
                            link: '#'
                        },
                        {
                            title: 'Университет сегодня:',
                            section: [
                                {
                                    title: 'Сведения об образовательной организации',
                                    link: '#'
                                },
                                {
                                    title: 'Лицензия и аккредитация',
                                    link: '#'
                                },
                                {
                                    title: 'Сертификаты и свидетельства СГУ',
                                    link: '#'
                                },
                                {
                                    title: 'Миссия и ценности',
                                    link: '#'
                                },
                                {
                                    title: 'СГУ в рейтингах',
                                    link: '#'
                                },
                                {
                                    title: 'Приоритет 2030',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Презентации СГУ:',
                            section: [
                                {
                                    title: 'Бизнес-презентации',
                                    link: '#'
                                },
                                {
                                    title: 'Видеопрезентации',
                                    link: '#'
                                },
                                {
                                    title: 'Логотипы и фирменный стиль СГУ',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Фонд целевого капитала СГУ',
                            link: '#'
                        },
                        {
                            title: 'Контакты и реквизиты',
                            link: '#'
                        },
                        {
                            title: 'Телефонный справочник',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Управление университетом',
                    subSubList: [
                        {
                            title: 'Ректорат',
                            link: '#'
                        },
                        {
                            title: 'Ученый Совет',
                            link: '#'
                        },
                        {
                            title: 'Наградная комиссия',
                            link: '#'
                        },
                        {
                            title: 'Попечительский Совет',
                            link: '#'
                        },
                        {
                            title: 'Студенческие объединения',
                            link: '#'
                        },
                        {
                            title: 'Профсоюз',
                            link: '#'
                        },
                        {
                            title: 'Инклюзия',
                            link: '#'
                        },
                        {
                            title: 'Прием обращений граждан',
                            link: '#'
                        },
                        {
                            title: 'Гарантия качества',
                            link: '#'
                        },
                        {
                            title: 'Противодействие коррупции',
                            link: '#'
                        },
                        {
                            title: 'Антитеррор',
                            link: '#'
                        },
                        {
                            title: 'Платные услуги и сервисы',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Структура университета',
                    subSubList: [
                        {
                            title: 'Структура СГУ',
                            link: '#'
                        },
                        {
                            title: 'Персоналии:',
                            section: [
                                {
                                    title: 'Сотрудники',
                                    link: '#'
                                },
                                {
                                    title: 'Знаменитые ученые СГУ',
                                    link: '#'
                                },
                                {
                                    title: 'Почетные выпускники СГУ',
                                    link: '#'
                                },
                            ]
                        },
                    ]
                },
                {
                    title: 'Кампус СГУ',
                    subSubList: [
                        {
                            title: 'Кампусное жилье для студентов и молодых ученых:',
                            section: [
                                {
                                    title: 'Студенческие общежития',
                                    link: '#'
                                },
                                {
                                    title: 'Дом молодых ученых',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Кампус для исследований:',
                            section: [
                                {
                                    title: 'Научные лаборатории и центры',
                                    link: '#'
                                },
                                {
                                    title: 'Зональная научная библиотека',
                                    link: '#'
                                },
                                {
                                    title: 'Музейные коллекции СГУ',
                                    link: '#'
                                },
                                {
                                    title: 'Ботанический сад',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Кампус для спорта и здоровья:',
                            section: [
                                {
                                    title: 'Медицинский пункт СГУ',
                                    link: '#'
                                },
                                {
                                    title: 'Спортивные площадки',
                                    link: '#'
                                },
                                {
                                    title: 'Лыжная база',
                                    link: '#'
                                },
                                {
                                    title: 'Бассейн СГУ',
                                    link: '#'
                                },
                                {
                                    title: 'Спортивно-оздоровительный лагерь "Чардым"',
                                    link: '#'
                                },
                            ]
                        },
                    ]
                },
                {
                    title: 'Университетский город',
                    subSubList: [
                        {
                            title: 'Карта кампуса',
                            link: '#'
                        },
                        {
                            title: 'Онлайн-прогулка по кампусу',
                            link: '#'
                        },
                        {
                            title: 'Магазин "Университетский"',
                            link: '#'
                        },
                        {
                            title: 'Пункты питания',
                            link: '#'
                        },
                        {
                            title: 'Экскурсии по кампусу и музеям СГУ',
                            link: '#'
                        },
                        {
                            title: 'Магазин атрибутики СГУ',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Образование',
            subList: [
                {
                    title: 'Образовательные программы',
                    subSubList: [
                        {
                            title: 'Среднее профессиональное образование',
                            link: '#'
                        },
                        {
                            title: 'Бакалавриат и специалитет',
                            link: '#'
                        },
                        {
                            title: 'Аспирантура',
                            link: '#'
                        },
                        {
                            title: 'Дистанционное образование',
                            link: '#'
                        },
                        {
                            title: 'Повышение квалификации и профессиональная переподготовка',
                            link: '#'
                        },
                        {
                            title: 'Расписание занятий',
                            link: '#'
                        },

                    ]
                },
                {
                    title: 'Учебный процесс',
                    subSubList: [
                        {
                            title: 'Студенту: все про учебу',
                            link: '#'
                        },
                        {
                            title: 'Стратегические образовательные проекты:',
                            section: [
                                {
                                    title: 'Педагогическое образование',
                                    link: '#'
                                },
                                {
                                    title: '«Цифровые кафедры»',
                                    link: '#'
                                },
                                {
                                    title: 'Молодые профессионалы',
                                    link: '#'
                                },
                                {
                                    title: 'International students',
                                    link: '#'
                                },
                            ]

                        },
                    ]
                },
                {
                    title: 'Образовательные услуги',
                    subSubList: [
                        {
                            title: 'Структура СГУ',
                            link: '#'
                        },
                        {
                            title: 'Школьникам:',
                            section: [
                                {
                                    title: 'Подготовительные курсы ОГЭ/ЕГЭ',
                                    link: '#'
                                },
                                {
                                    title: 'Школы юных',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Студентам и выпускникам:',
                            section: [
                                {
                                    title: 'Платное высшее образование',
                                    link: '#'
                                },
                                {
                                    title: 'Второе высшее и параллельное образование',
                                    link: '#'
                                },
                                {
                                    title: 'Дополнительное профессиональное образование',
                                    link: '#'
                                },
                                {
                                    title: 'Европейское приложение к диплому',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Иностранцам:',
                            section: [
                                {
                                    title: 'Русский язык для иностранцев',
                                    link: '#'
                                },
                                {
                                    title: 'Пакет миграционных документов',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Онлайн-оплата',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Полезное',
                    subSubList: [
                        {
                            title: 'Перевод с платного на бюджетное место',
                            link: '#'
                        },
                        {
                            title: 'Перевод из другого учебного заведения',
                            link: '#'
                        },
                        {
                            title: 'Перевод на другое направление',
                            link: '#'
                        },
                        {
                            title: 'Академический отпуск',
                            link: '#'
                        },
                        {
                            title: 'Отчисление',
                            link: '#'
                        },
                        {
                            title: 'Восстановление',
                            link: '#'
                        },
                        {
                            title: 'Ответы на вопросы',
                            link: '#'
                        },
                        {
                            title: 'Личный кабинет',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Трудоустройство',
                    subSubList: [
                        {
                            title: 'Трудоустройство',
                            link: '#'
                        },
                        {
                            title: 'Региональный центр содействия трудоустройству',
                            link: '#'
                        },
                        {
                            title: 'Студенческое кадровое агентство',
                            link: '#'
                        },
                        {
                            title: 'Факультетус',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'В помощь студенту',
                    subSubList: [
                        {
                            title: 'Электронные образовательные ресурсы',
                            link: '#'
                        },
                        {
                            title: 'Библиотека',
                            link: '#'
                        },
                        {
                            title: 'Бесплатное ПО для студентов',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Наука и инновации',
            subList: [
                {
                    title: 'Аспирантура и докторантура',
                    subSubList: [
                        {
                            title: 'Поступающим в аспирантуру/докторантуру',
                            link: '#'
                        },
                        {
                            title: 'Обучающимся в аспирантуре/докторантуре',
                            link: '#'
                        },
                        {
                            title: 'Соискателям',
                            link: '#'
                        },
                        {
                            title: 'Диссертационные советы',
                            link: '#'
                        },
                        {
                            title: 'Постдоки в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Кампусное жилье для молодых ученых',
                            link: '#'
                        },

                    ]
                },
                {
                    title: 'Научная жизнь',
                    subSubList: [
                        {
                            title: 'Направления научных исследований СГУ',
                            link: '#'
                        },
                        {
                            title: 'Гранты, конкурсы, стипендии, программы',
                            link: '#'
                        },
                        {
                            title: 'Конференции СГУ',
                            link: '#'
                        },
                        {
                            title: 'Выставки',
                            link: '#'
                        },
                        {
                            title: 'Студенческое научное общество',
                            link: '#'
                        },
                        {
                            title: 'NAUKA 0+',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Научная инфраструктура',
                    subSubList: [
                        {
                            title: 'Центр коллективного пользования',
                            link: '#'
                        },
                        {
                            title: 'Зональная научная библиотека СГУ',
                            link: '#'
                        },
                        {
                            title: 'Инновационный пояс СГУ',
                            link: '#'
                        },
                        {
                            title: 'Управление научной деятельности',
                            link: '#'
                        },
                        {
                            title: 'Точка кипения СГУ',
                            link: '#'
                        },
                        {
                            title: 'Ботанический сад',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'R&D разработки СГУ',
                    subSubList: [
                        {
                            title: 'Бизнес-презентация СГУ',
                            link: '#'
                        },
                        {
                            title: 'Малые инновационные предприятия',
                            link: '#'
                        },
                        {
                            title: 'Патенты и лицензии',
                            link: '#'
                        },
                        {
                            title: 'IT услуги и сервисы',
                            link: '#'
                        },
                        {
                            title: 'Заказать НИОКР',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Студенчество',
            subList: [
                {
                    title: 'Социальная поддержка',
                    subSubList: [
                        {
                            title: 'Материальная поддержка:',
                            section: [
                                {
                                    title: 'Стипендиальное обеспечение',
                                    link: '#'
                                },
                                {
                                    title: 'Матпомощь',
                                    link: '#'
                                },
                                {
                                    title: 'Студенческое кадровое агенство',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Здоровье:',
                            section: [
                                {
                                    title: 'Медицинское обслуживание и оздоровление',
                                    link: '#'
                                },
                                {
                                    title: 'Инклюзивное сопровождение и социальная адаптация',
                                    link: '#'
                                },
                                {
                                    title: 'Служба психологического сопровождения',
                                    link: '#'
                                },
                                {
                                    title: 'Спортивно оздоровительный лагерь "Чардым"',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Жильё:',
                            section: [
                                {
                                    title: 'Студенческие общежития',
                                    link: '#'
                                },
                                {
                                    title: 'Дом молодых ученых',
                                    link: '#'
                                },
                            ]
                        },

                    ]
                },
                {
                    title: 'Студенческие объединения',
                    subSubList: [
                        {
                            title: 'Объединенный совет обучающихся:',
                            section: [
                                {
                                    title: 'Совет студентов и аспирантов',
                                    link: '#'
                                },
                                {
                                    title: 'Профсоюз студентов',
                                    link: '#'
                                },
                                {
                                    title: 'Штаб студенческих отрядов',
                                    link: '#'
                                },
                                {
                                    title: 'Научное общество студентов и аспирантов',
                                    link: '#'
                                },
                                {
                                    title: 'Студенческие советы в общежитиях',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Волонтерская и общественная деятельность:',
                            section: [
                                {
                                    title: 'Волонтерский центр',
                                    link: '#'
                                },
                                {
                                    title: 'Абилимпикс',
                                    link: '#'
                                },
                            ]
                        },
                        {
                            title: 'Карта кампуса',
                            link: '#'
                        },

                    ]
                },
                {
                    title: 'Учебный процесс',
                    subSubList: [
                        {
                            title: 'Студенческий клуб СГУ',
                            link: '#'
                        },
                        {
                            title: 'Творческие коллективы',
                            link: '#'
                        },
                        {
                            title: 'Клубы и кружки по интересам',
                            link: '#'
                        },

                    ]
                },
                {
                    title: 'Спорт',
                    subSubList: [
                        {
                            title: 'Студенческий спортивный клуб',
                            link: '#'
                        },
                        {
                            title: 'Спортивные соревнования СГУ',
                            link: '#'
                        },
                        {
                            title: 'Спортивные достижения СГУ',
                            link: '#'
                        },
                        {
                            title: 'Знаменитые спортсмены - выпускники СГУ',
                            link: '#'
                        },
                        {
                            title: 'Спортивные площадки',
                            link: '#'
                        },
                        {
                            title: 'Лыжная база',
                            link: '#'
                        },
                        {
                            title: 'Бассейн СГУ',
                            link: '#'
                        },

                    ]
                },
            ]
        },
        {
            title: 'Сотрудничество',
            subList: [
                {
                    title: 'СГУ в регионе',
                    subSubList: [
                        {
                            title: 'Партнеры СГУ в Саратове и регионе',
                            link: '#',
                        },
                        {
                            title: 'Проекты СГУ для Саратова и региона',
                            link: '#',
                        },
                        {
                            title: 'Целевое обучение в СГУ',
                            link: '#',
                        },

                    ]
                },
                {
                    title: 'СГУ в России',
                    subSubList: [
                        {
                            title: 'Консорциумы СГУ',
                            link: '#',
                        },
                        {
                            title: 'Бизнес-партнеры СГУ',
                            link: '#',
                        },
                        {
                            title: 'Проекты СГУ',
                            link: '#',
                        },
                        {
                            title: 'Практика и трудоустройство студентов',
                            link: '#',
                        },
                    ]
                },
                {
                    title: 'СГУ в мире',
                    subSubList: [
                        {
                            title: 'СГУ в международных ассоциациях',
                            link: '#',
                        },
                        {
                            title: 'Зарубежные академические партнеры',
                            link: '#',
                        },
                        {
                            title: 'Международные исследования СГУ',
                            link: '#',
                        },
                        {
                            title: 'Международная академическая мобильность',
                            link: '#',
                        },
                        {
                            title: 'Программа переселения соотечественников',
                            link: '#',
                        },
                        {
                            title: 'Международные образовательные проекты',
                            link: '#',
                        },
                    ]
                },
            ]
        },
        {
            title: 'Медиа',
            subList: [
                {
                    title: 'Новости и мероприятия',
                    subSubList: [
                        {
                            title: 'Новости СГУ',
                            link: '#',
                        },
                        {
                            title: 'Календарь мероприятий',
                            link: '#',
                        },
                        {
                            title: 'СГУ в СМИ',
                            link: '#',
                        },
                        {
                            title: 'СГУ в соцсетях',
                            link: '#',
                        },

                    ]
                },
                {
                    title: 'Издания СГУ',
                    subSubList: [
                        {
                            title: 'Газета "Саратовский университет"',
                            link: '#',
                        },
                        {
                            title: 'Журнал "СГУщенка"',
                            link: '#',
                        },
                        {
                            title: 'Журнал "Наукоград"',
                            link: '#',
                        },
                        {
                            title: 'Телепрограмма "Мне нравится"',
                            link: '#',
                        },
                    ]
                },
                {
                    title: 'Медиа СГУ',
                    subSubList: [
                        {
                            title: 'Корпоративная атрибутика СГУ',
                            link: '#',
                        },
                        {
                            title: 'Презентационные материалы СГУ для СМИ',
                            link: '#',
                        },
                        {
                            title: 'Управление медиакоммуникаций',
                            link: '#',
                        },
                        {
                            title: 'Издательство и типография СГУ',
                            link: '#',
                        },
                    ]
                },
                {
                    title: 'Реклама СГУ',
                    subSubList: [
                        {
                            title: 'СМИ СГУ',
                            link: '#',
                        },
                        {
                            title: 'Соцсети СГУ',
                            link: '#',
                        },
                    ]
                },
            ]
        },
    ]
    let burgerMenu2 = [
        {
            title: 'Абитуриенту',
            subList: [
                {
                    title: 'Среднее профессиональное образование',
                    subSubList: [
                        {
                            title: 'Колледжи',
                            link: '#'
                        },
                        {
                            title: 'Архив приема',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Прием 2022',
                    subSubList: [
                        {
                            title: 'Общие правила приема 20хх',
                            link: '#'
                        },
                        {
                            title: 'Количество мест приема 20хх',
                            link: '#'
                        },
                        {
                            title: 'Документы для подачи заявления',
                            link: '#'
                        },
                        {
                            title: 'Вступительные испытания',
                            link: '#'
                        },
                        {
                            title: 'Прием на целевое обучение',
                            link: '#'
                        },
                        {
                            title: 'Льготные категории',
                            link: '#'
                        },
                        {
                            title: 'Ход подачи заявлений, конкурсные списки',
                            link: '#'
                        },
                        {
                            title: 'Договоры об оказании платных образовательных услуг',
                            link: '#'
                        },
                        {
                            title: 'Стоимость обучения',
                            link: '#'
                        },
                        {
                            title: 'Приказы о зачислении',
                            link: '#'
                        },
                        {
                            title: 'Задать вопрос',
                            link: '#'
                        },
                        {
                            title: 'Подать заявление в СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Полезное',
                    subSubList: [
                        {
                            title: 'Календарь абитуриента',
                            link: '#'
                        },
                        {
                            title: 'Калькулятор ЕГЭ',
                            link: '#'
                        },
                        {
                            title: 'Всё о платном обучении',
                            link: '#'
                        },
                        {
                            title: 'Общежития и наличие свободных мест',
                            link: '#'
                        },
                        {
                            title: 'Военная подготовка',
                            link: '#'
                        },
                        {
                            title: 'Дополнительное профобразование',
                            link: '#'
                        },
                        {
                            title: 'Центр инклюзивного образования',
                            link: '#'
                        },
                        {
                            title: 'Приемные комиссии СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Высшее образование',
                    subSubList: [
                        {
                            title: 'Бакалавриат',
                            link: '#'
                        },
                        {
                            title: 'Специалитет',
                            link: '#'
                        },
                        {
                            title: 'Магистратура',
                            link: '#'
                        },
                        {
                            title: 'Аспирантура',
                            link: '#'
                        },
                        {
                            title: 'Архив приема',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Иностранным гражданам',
                    subSubList: [
                        {
                            title: 'Подготовительное отделение',
                            link: '#'
                        },
                        {
                            title: 'Гид для иностранного абитуриента СГУ',
                            link: '#'
                        },
                        {
                            title: 'Подготовиться к поступлению в СГУ',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Студенту',
            subList: [
                {
                    title: 'Жизнь в СГУ',
                    subSubList: [
                        {
                            title: 'Гид первокурсника 20хх',
                            link: '#'
                        },
                        {
                            title: 'Карта кампуса',
                            link: '#'
                        },
                        {
                            title: 'Общежития',
                            link: '#'
                        },
                        {
                            title: 'WiFi',
                            link: '#'
                        },
                        {
                            title: 'Библиотека',
                            link: '#'
                        },
                        {
                            title: 'Музей СГУ',
                            link: '#'
                        },
                        {
                            title: 'СГУ в соцсетях',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Учебный процесс',
                    subSubList: [
                        {
                            title: 'Образовательные программы',
                            link: '#'
                        },
                        {
                            title: 'Деканаты и дирекции СГУ',
                            link: '#'
                        },
                        {
                            title: 'Онлайн-курсы',
                            link: '#'
                        },
                        {
                            title: 'Учебники и учебные пособия СГУ',
                            link: '#'
                        },
                        {
                            title: 'Документы и шаблоны',
                            link: '#'
                        },
                        {
                            title: 'Расписание занятий',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Поддержка студентов',
                    subSubList: [
                        {
                            title: 'Материальная поддержка',
                            link: '#'
                        },
                        {
                            title: 'Социальная стипендия',
                            link: '#'
                        },
                        {
                            title: 'Медицинское обслуживание',
                            link: '#'
                        },
                        {
                            title: 'Психологическая поддержка',
                            link: '#'
                        },
                        {
                            title: 'Институт тьюторов',
                            link: '#'
                        },
                        {
                            title: 'Студенческое кадровое агентство',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Кроме учебы',
                    subSubList: [
                        {
                            title: 'Студенческие объединения',
                            link: '#'
                        },
                        {
                            title: 'Спорт в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Бассейн СГУ',
                            link: '#'
                        },
                        {
                            title: 'Творческие коллективы',
                            link: '#'
                        },
                        {
                            title: 'Личный кабинет',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Полезная информация',
                    subSubList: [
                        {
                            title: 'Стипендия',
                            link: '#'
                        },
                        {
                            title: 'Правила заселения в общежитие',
                            link: '#'
                        },
                        {
                            title: 'Стоимость обучения 20хх',
                            link: '#'
                        },
                        {
                            title: 'Перевод с платного на бюджетное место',
                            link: '#'
                        },
                        {
                            title: 'Перевод из другого учебного заведения',
                            link: '#'
                        },
                        {
                            title: 'Перевод на другое направлениея',
                            link: '#'
                        },
                        {
                            title: 'Академический отпуск',
                            link: '#'
                        },
                        {
                            title: 'Отчисление',
                            link: '#'
                        },
                        {
                            title: 'Восстановление',
                            link: '#'
                        },
                        {
                            title: 'Анкета обратной связи',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Иностранным студентам',
                    subSubList: [
                        {
                            title: 'Гид иностранного студента СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Как еще можно учиться в СГУ?',
                    subSubList: [
                        {
                            title: 'Материальная поддержка',
                            link: '#'
                        },
                        {
                            title: 'Дистанционное обучение',
                            link: '#'
                        },
                        {
                            title: 'Дополнительное образование',
                            link: '#'
                        },
                        {
                            title: 'Второе высшее и параллельное образование',
                            link: '#'
                        },
                        {
                            title: 'Бизнес-образование',
                            link: '#'
                        },
                        {
                            title: 'Предпринимательские компетенции',
                            link: '#'
                        },
                        {
                            title: 'Стартап',
                            link: '#'
                        },
                        {
                            title: 'Военное обучение',
                            link: '#'
                        },
                        {
                            title: '"Цифровые кафедры"',
                            link: '#'
                        },
                        {
                            title: 'Сетевые программы с другими вузами РФ',
                            link: '#'
                        },
                        {
                            title: 'Обучение за рубежом',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Студенческая наука',
                    subSubList: [
                        {
                            title: 'Гид иностранного студента СГУ',
                            link: '#'
                        },
                        {
                            title: 'Гид для студента-исследователя',
                            link: '#'
                        },
                        {
                            title: 'Конференции, гранты, конкурсы, программы',
                            link: '#'
                        },
                        {
                            title: 'Молодежные научные лаборатории',
                            link: '#'
                        },
                        {
                            title: 'Истории успеха молодых ученых СГУ',
                            link: '#'
                        },
                        {
                            title: 'Научное общество студентов и аспирантов',
                            link: '#'
                        },
                        {
                            title: 'Студенческое конструкторское бюро',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Преподавателю',
            subList: [
                {
                    title: 'Университет',
                    subSubList: [
                        {
                            title: 'Телефонный справочник',
                            link: '#'
                        },
                        {
                            title: 'Подразделения СГУ',
                            link: '#'
                        },
                        {
                            title: 'Персоналии (А-Я)',
                            link: '#'
                        },
                        {
                            title: 'Материалы наградной комиссии СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Важное',
                    subSubList: [
                        {
                            title: 'Расписание',
                            link: '#'
                        },
                        {
                            title: 'Нормативные документы и шаблоны',
                            link: '#'
                        },
                        {
                            title: 'Повышение квалификации',
                            link: '#'
                        },
                        {
                            title: 'Подать заявку на издание монографии/пособия',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'IT',
                    subSubList: [
                        {
                            title: 'БАРС',
                            link: '#'
                        },
                        {
                            title: 'IT-услуги и сервисы',
                            link: '#'
                        },
                        {
                            title: 'Корпоративная почта',
                            link: '#'
                        },
                        {
                            title: 'Подключение к WI-FI в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Личный кабинет',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Выпускнику',
            subList: [
                {
                    title: 'Выпуск',
                    subSubList: [
                        {
                            title: 'Alumni',
                            link: '#'
                        },
                        {
                            title: 'Списки выпусков по факультетам и институтам',
                            link: '#'
                        },
                        {
                            title: 'Наши маленькие истории об СГУ',
                            link: '#'
                        },
                        {
                            title: 'Истории успеха выпускников',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Встречи',
                    subSubList: [
                        {
                            title: 'Мероприятия с выпускниками',
                            link: '#'
                        },
                        {
                            title: 'Юбилейные встречи выпускников',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Выпускникам СГУ',
                    subSubList: [
                        {
                            title: 'Сообщества СГУ',
                            link: '#'
                        },
                        {
                            title: 'Эндаумент СГУ',
                            link: '#'
                        },
                        {
                            title: 'Сувенирная продукция СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Дисконтная программа для выпускников СГУ',
                    subSubList: [
                        {
                            title: 'Продолжить образование в СГУ',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Партнерам',
            subList: [
                {
                    title: 'Заказать сервис',
                    subSubList: [
                        {
                            title: 'Заказать НИОКР',
                            link: '#'
                        },
                        {
                            title: 'Заказать проект',
                            link: '#'
                        },
                        {
                            title: 'Заказать бизнес-проект',
                            link: '#'
                        },
                        {
                            title: 'Заказать социальный проект',
                            link: '#'
                        },
                        {
                            title: 'Заказать экспертизу',
                            link: '#'
                        },
                        {
                            title: 'Заказать тренинг',
                            link: '#'
                        },
                        {
                            title: 'Акселерация стартапа',
                            link: '#'
                        },
                        {
                            title: 'Развитие предпринимательских компетенций',
                            link: '#'
                        },
                        {
                            title: 'Получить консультацию эксперта',
                            link: '#'
                        },
                        {
                            title: 'Заказать рекламу в СМИ и соц.сетях СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Школам: для обучающихся',
                    subSubList: [
                        {
                            title: 'Педагогическое образование в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Виртуальный педагогический класс',
                            link: '#'
                        },
                        {
                            title: 'Курсы ОГЭ/ЕГЭ',
                            link: '#'
                        },
                        {
                            title: 'Просветительские проекты СГУ',
                            link: '#'
                        },
                        {
                            title: 'Школы Юных',
                            link: '#'
                        },
                        {
                            title: 'Фестиваль «NAUKA 0+»',
                            link: '#'
                        },
                        {
                            title: 'Конкурсы и олимпиады для школьников',
                            link: '#'
                        },
                        {
                            title: 'Центр поддержки одаренных детей',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Школам: для учителей',
                    subSubList: [
                        {
                            title: 'Повышение квалификации в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Поддержка молодых учителей',
                            link: '#'
                        },
                        {
                            title: 'Неделя педагогического образования',
                            link: '#'
                        },
                        {
                            title: 'Летние школы для педагогов',
                            link: '#'
                        },
                        {
                            title: 'Экскурсии в СГУ со школьниками',
                            link: '#'
                        },
                        {
                            title: 'Пригласить ученого СГУ в школу',
                            link: '#'
                        },
                        {
                            title: 'Зональная научная библиотека',
                            link: '#'
                        },
                        {
                            title: 'Эндаумент СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Разное',
                    subSubList: [
                        {
                            title: 'Найти практиканта',
                            link: '#'
                        },
                        {
                            title: 'Найти волонтера',
                            link: '#'
                        },
                        {
                            title: 'Посетить СГУ',
                            link: '#'
                        },
                        {
                            title: 'Подобрать сотрудников',
                            link: '#'
                        },
                        {
                            title: 'Провести мероприятие в сгу',
                            link: '#'
                        },
                        {
                            title: 'Поддержать СГУ',
                            link: '#'
                        },
                        {
                            title: 'Личный кабинет',
                            link: '#'
                        },
                    ]
                },
            ]
        },
        {
            title: 'Молодому ученому',
            subList: [
                {
                    title: 'Аспирантура и докторантура',
                    subSubList: [
                        {
                            title: 'Поступающим в аспирантуру/докторантуру',
                            link: '#'
                        },
                        {
                            title: 'Аспирантам/докторантам',
                            link: '#'
                        },
                        {
                            title: 'Аспирантам/докторантам',
                            link: '#'
                        },
                        {
                            title: 'Соискателям',
                            link: '#'
                        },
                        {
                            title: 'Диссертационные советы',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'IT сервисы',
                    subSubList: [
                        {
                            title: 'Корпоративная почта',
                            link: '#'
                        },
                        {
                            title: 'Подключение к WIFI СГУ',
                            link: '#'
                        },
                        {
                            title: 'Бесплатное ПО',
                            link: '#'
                        },
                        {
                            title: 'Единый центр обработки данных',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Подать заявку',
                    subSubList: [
                        {
                            title: 'Командировка',
                            link: '#'
                        },
                        {
                            title: 'Повышение квалификации',
                            link: '#'
                        },
                        {
                            title: 'Научное оборудование в ЦКП',
                            link: '#'
                        },
                        {
                            title: 'Консультация в Центре патентных услуг',
                            link: '#'
                        },
                        {
                            title: 'Издание монографии или пособия',
                            link: '#'
                        },
                        {
                            title: 'Мероприятие в Точке кипения СГУ',
                            link: '#'
                        },
                        {
                            title: 'Кампусное жилье для молодых ученых',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Учителям',
                    subSubList: [
                        {
                            title: 'Повышение квалификации в СГУ',
                            link: '#'
                        },
                        {
                            title: 'Поддержка молодых учителей',
                            link: '#'
                        },
                        {
                            title: 'Неделя педагогического образования',
                            link: '#'
                        },
                        {
                            title: 'Летние школы для педагогов',
                            link: '#'
                        },
                        {
                            title: 'Приоритет 2030',
                            link: '#'
                        },
                        {
                            title: 'Поддержать СГУ',
                            link: '#'
                        },
                        {
                            title: 'Личный кабинет',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Службы',
                    subSubList: [
                        {
                            title: 'Управление научной деятельности',
                            link: '#'
                        },
                        {
                            title: 'Отдел аспирантуры',
                            link: '#'
                        },
                        {
                            title: 'Центр коллективного пользования',
                            link: '#'
                        },
                        {
                            title: 'Центр патентных услуг',
                            link: '#'
                        },
                        {
                            title: 'Зональная научная библиотека СГУ',
                            link: '#'
                        },
                        {
                            title: 'Поддержать СГУ',
                            link: '#'
                        },
                        {
                            title: 'Точка кипения СГУ',
                            link: '#'
                        },
                    ]
                },
                {
                    title: 'Научная жизнь',
                    subSubList: [
                        {
                            title: 'Гранты, конкурсы, стипендии, программы',
                            link: '#'
                        },
                        {
                            title: 'Научные лаборатории и центры СГУ',
                            link: '#'
                        },
                        {
                            title: 'Конференции СГУ',
                            link: '#'
                        },
                        {
                            title: 'Научные издания СГУ',
                            link: '#'
                        },
                        {
                            title: 'Истории успеха молодых ученых СГУ',
                            link: '#'
                        },
                    ]
                },
            ]
        },
    ]
    let burgerMenu3 = [
        {
            title: 'Приемная комиссия',
            link: '#'
        },
        {
            title: 'Расписание занятий',
            link: '#'
        },
        {
            title: 'Приоритет 2030',
            link: '#'
        },
        {
            title: 'Старая версия сайта',
            link: '#'
        },
        {
            title: 'Подразделения',
            link: '#'
        },
    ]
    let burgerMenu4 = [
        {
            title: 'Сотрудники',
            link: '#'
        },
        {
            title: 'Карта кампуса',
            link: '#'
        },
        {
            title: 'Реквизиты',
            link: '#'
        },
        {
            title: 'Контакты',
            link: '#'
        },
    ]


nav.burger-menu__navigation.details3
    .container
        .burger-menu__menu
            .burger-menu__wrapper
                each items in burgerMenu1
                    details.burger-menu__item
                        summary !{items.title}
                            .plus-close
                                span
                        .burger-menu__sub-list.content
                            each sub in items.subList
                                details.burger-menu__sub-item
                                    summary !{sub.title}
                                        .plus-close
                                            span
                                    .burger-menu__sub-sub-list.content
                                        each subsub in sub.subSubList
                                            if subsub.section
                                                .burger-menu__sub-sub-item
                                                    span.burger-menu__sub-sub-title !{subsub.title}
                                                    ul.burger-menu__sub-sub-section
                                                        each section in subsub.section
                                                            li.burger-menu__sub-sub-section-item
                                                                a(class='burger-menu__sub-sub-section-link' href=section.link) !{section.title}
                                            else
                                                .burger-menu__sub-sub-item
                                                    a(class='burger-menu__sub-sub-link' href=subsub.link) !{subsub.title}


