let a = 10;

-
    let monday10 = [
        {
            "time":[
                {
                    "time1":"10:00-10:25",
                    "time2":"",
                    "time3":"",
                    "textCenter":"",
                    "name": "",
                    "text": "Pick up at the airport",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "10:00-12:00",
                    "time2": "",
                    "time3": "",
                    "textCenter":"",
                    "name": "",
                    "text": "Traveling to venue of school/Accommodation",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "10:00-12:00",
                    "time2": "",
                    "time3": "",
                    "textCenter":"Opening ceremony",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Laboratory “Smart Sleep”.",
                    "mail": "glushkovskaya@mail.ru",
                    "title": ""
                },
            ],
        },
        {
            "topText": "The perspective technologies for the study of brain as a complex system",
            "bottomText": "Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)",
            "time":[
                {
                    "time1": "14:10-14:35",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Jürgen Kurths",
                    "text": "Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany",
                    "mail": "Juergen.Kurths@pik-potsdam.de",
                    "title": "TITLE"
                },
                {
                    "time1": "14:10-14:35",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Teemu Myllylä",
                    "text": "University of Oulu, Oulu, Finland",
                    "mail": "teemu.myllyla@oulu.fi",
                    "title": "TITLE"
                },
                {
                    "time1": "15:05-15:30",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Felix Scholkmann",
                    "text": "Biomedical Optics Research Laboratory, Department of Department of Neonatology, University Hospital Zurich, University of Zurich; Neonatology Research, Department of Neonatology, University Hospital Zurich, University of Zurich",
                    "mail": "felix.scholkmann@usz.ch",
                    "title": "TITLE"
                },
                {
                    "time1": "15:30-15:55",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Dmitry Postnov",
                    "text": "Saratov State University, Saratov, Russia",
                    "mail": "postnovdmitry@googlemail.com",
                    "title": "TITLE"
                },
                {
                    "time1": "15:55-16:20",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Alla Salmina",
                    "text": "Research Center of Neurology, Moscow, Russia",
                    "mail": "allasalmina@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "16:20-18:00",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "",
                    "text": "Dinner",
                    "mail": "",
                    "title": ""
                },
            ],
        }
    ]

    let monday12 = [
        {
            "topText": "The perspective technologies for the study of brain as a complex system",
            "bottomText": "(Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)",
            "time":[
                {
                    "time1":"10:00-10:25",
                    "time2":"14:00-14:25",
                    "time3":"08:00-08:25",
                    "name": "Jürgen Kurths",
                    "text": "Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany",
                    "mail": "Juergen.Kurths@pik-potsdam.de",
                    "title": "Title"
                },
                {
                    "time1": "10:25-10:50",
                    "time2": "14:25-14:50",
                    "time3": "08:25-08:50",
                    "name": "Teemu Myllylä",
                    "text": "University of Oulu, Oulu, Finland",
                    "mail": "teemu.myllyla@oulu.fi",
                    "title": "Title"
                },
                {
                    "time1": "10:50-11:15",
                    "time2": "14:50-15:15",
                    "time3": "08:50-09:15",
                    "name": "Felix Scholkmann",
                    "text": "Biomedical Optics Research Laboratory, Department of Department of Neonatology, University Hospital Zurich, University of Zurich; Neonatology Research, Department of Neonatology, University Hospital Zurich, University of Zurich",
                    "mail": "felix.scholkmann@usz.ch",
                    "title": "Title"
                },
                {
                    "time1": "11:15-11:40",
                    "time2": "15:15-15:40",
                    "time3": "09:15-09:40",
                    "name": "Dmitry Postnov",
                    "text": "Saratov State University, Saratov, Russia",
                    "mail": "postnovdmitry@googlemail.com",
                    "title": "Title"
                },
                {
                    "time1": "11:40-12:00",
                    "time2": "15:40-16:00",
                    "time3": "09:40-10:00",
                    "name": "",
                    "text": "Coffee break",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "12:00-13:00",
                    "time2": "16:00-17:00",
                    "time3": "10:00-11:00",
                    "name": "",
                    "text": "Poster Session",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "13:00-16:00",
                    "time2": "17:00-20:00",
                    "time3": "11:00-14:00",
                    "name": "",
                    "text": "Excursion around Saratov and visit to Satarov State University and \"Smart Sleep\" laboratory",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "16:00-16:30",
                    "time2": "20:00-20:30",
                    "time3": "14:00-14:30",
                    "name": "",
                    "text": "Award for the best poster",
                    "mail": "",
                    "title": "Closing Ceremony"
                },
                {
                    "time1": "16:30",
                    "time2": "20:30",
                    "time3": "14:30",
                    "name": "",
                    "text": "Departure to the airport",
                    "mail": "",
                },
            ]
        }
    ]

doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'lymphacomplex-program2023'
    body
        .lymphacomplex-program2023
            .container
                table(border="1" style="text-align:center;" width="100%")
                    tbody
                        tr
                            td Time
                            td
                                b
                                    i Monday 12

                        each items in monday10
                            if items.topText
                                tr
                                    td(colspan="2")
                                        b !{items.topText}
                                        br
                                        i !{items.bottomText}
                            each item in items.time
                                tr
                                    td
                                        .clock__wrapper
                                            .clock-img
                                                img(src=require('/src/img/clock/clock2.png'), alt="")
                                            .clock-text !{item.time1}
                                        .clock__wrapper
                                            .clock-img
                                                img(src=require('/src/img/clock/clock1.png'), alt="")
                                            .clock-text !{item.time2}
                                        .clock__wrapper
                                            .clock-img
                                                img(src=require('/src/img/clock/clock3.png'), alt="")
                                            .clock-text !{item.time3}
                                    td(align="left")
                                        if item.textCenter
                                            center
                                                b !{item.textCenter}
                                        if item.name
                                            b !{item.name},
                                        |!{item.text}
                                        if item.mail
                                            br
                                            a(href=item.mail)
                                                |!{item.mail}
                                        if item.title
                                            br
                                            |!{item.title}





                        //tr
                        //    td(colspan="2")
                        //        b The perspective technologies for the study of brain as a complex system
                        //        br
                        //        i (Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)
                        //
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:00-10:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:00-14:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:00-08:25
                        //    td(align="left")
                        //        b Jürgen Kurths,
                        //        | Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany
                        //        br
                        //        | Juergen.Kurths@pik-potsdam.de
                        //        br
                        //        | Title
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:25-10:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:25-14:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:25-08:50
                        //    td(align="left")
                        //        b Teemu Myllylä,
                        //        | University of Oulu, Oulu, Finland
                        //        br
                        //        | teemu.myllyla@oulu.fi
                        //        br
                        //        | Title


