-
    let monday10 = [
        {
            "time":[
                {
                    "time1": "18:00-20:00",
                    "time2": "22:00-00:00",
                    "time3": "16:00-18:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Pick up at the airport",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "20:00-22:00",
                    "time2": "00:00-02:00",
                    "time3": "18:00-20:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Traveling to venue of school/Accommodation",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "21:00-23:00",
                    "time2": "01:00-03:00",
                    "time3": "19:00-21:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Late Dinner",
                    "mail": "",
                    "title": ""
                },
            ],
        },

    ];

    let monday11 = [
        {
            "time":[
                {
                    "time1": "09:50-10:00",
                    "time2": "13:50-14:00",
                    "time3": "07:50-08:00",
                    "textCenter": "Opening ceremony",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Laboratory “Smart Sleep”.",
                    "mail": "glushkovskaya@mail.ru",
                    "title": ""
                },
            ],
        },
        {
            "topText": "Sections of basic sleep research",
            "bottomText": "(Chair: Madaeva Irina, Irkutsk Somnological Center, Irkutsk, Russia)",
            "time": [
                {
                    "time1": "10:00-10:25",
                    "time2": "14:00-14:25",
                    "time3": "08:00-08:25",
                    "textCenter": "",
                    "name": "Alexander Kalinkin",
                    "text": "Medical Scientific and Educational Center, Moscow State University, Moscow, Russia",
                    "mail": "info@sleeplab.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "10:25-10:50",
                    "time2": "14:25-14:50",
                    "time3": "08:25-08:50",
                    "textCenter": "",
                    "name": "Vladimir Dorokhov",
                    "text": "Laboratory of neurobiology of sleep and wake, Institute of Higher Nervous Activity and Neurophysiology, Russia Academy of Sience, Russia ",
                    "mail": "vbdorokhov@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "10:50-11:15",
                    "time2": "14:50-15:15",
                    "time3": "08:50-09:15",
                    "textCenter": "",
                    "name": "Vladimir Kovalzon",
                    "text": "Institute of Problems of Ecology and Evolution. A.N. Severtsova, Russia Academy of Sience, Moscow, Russia",
                    "mail": "somnolog43@gmail.com",
                    "title": "TITLE"
                },
                {
                    "time1": "11:15-11:40",
                    "time2": "15:15-15:40",
                    "time3": "09:15-09:40",
                    "textCenter": "",
                    "name": "Evgeny Verbitsky",
                    "text": "Federal Research Center Southern Scientific Center of the Russian Academy of Sciences, Rostov on Don, Russia",
                    "mail": "e_verbitsky@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "11:40-12:05",
                    "time2": "15:40-16:05",
                    "time3": "09:40-10:05",
                    "textCenter": "“The active environment of the brain and sleep”",
                    "name": "Thomas Penzel",
                    "text": "Charité-Universitätsmedizin Berlin, Sleep Medicine Center, Berlin, Germany",
                    "mail": "thomas.penzel@charite.de",
                    "title": "TITLE"
                },
                {
                    "time1": "12:05-13:30",
                    "time2": "16:05-17:30",
                    "time3": "10:05-11:30",
                    "textCenter": "",
                    "name": "",
                    "text": "Lunch",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "13:30-13-55",
                    "time2": "17:30-17:55",
                    "time3": "11:30-11:55",
                    "textCenter": "",
                    "name": "Ludmila Rychkova",
                    "text": "Federal State Budget Scientific Institution \"Scientific Center for Family Health Problems and Human Reproduction\", Irkutsk, Russia",
                    "mail": "",
                    "title": "TITLE"
                },
                {
                    "time1": "13:55-14:20",
                    "time2": "17:55-18:20",
                    "time3": "11:55-12:20",
                    "textCenter": "",
                    "name": "Madaeva Irina",
                    "text": "Irkutsk Somnological Center, Irkutsk, Russia",
                    "mail": "nightchild@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "14:20-14:45",
                    "time2": "18:20-18:45",
                    "time3": "12:20-12:45",
                    "textCenter": "",
                    "name": "Ludmila Yankovskaya",
                    "text": "Grodno Medical University, Grodno, Belarus",
                    "mail": "yankovliuda@yandex.by",
                    "title": "TITLE"
                },
                {
                    "time1": "14:45-15:10",
                    "time2": "18:45-19:10",
                    "time3": "12:45-13:10",
                    "textCenter": "",
                    "name": "Alla Salmina",
                    "text": "Research Center of Neurology, Moscow, Russia",
                    "mail": "allasalmina@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "15:10-15:30",
                    "time2": "19:10-19:30",
                    "time3": "13:10-13:30",
                    "textCenter": "",
                    "name": "",
                    "text": "Coffee brake",
                    "mail": "",
                    "title": ""
                },

            ]
        },
        {
            "topText": "Section of bio- and neuro-photonics",
            "bottomText": "(Chair: Ivan Fedosov, Saratov State University, Saratov, Russia)",
            "time": [
                {
                    "time1": "15:30-15:55",
                    "time2": "19:30-19:55",
                    "time3": "13:30-13:55",
                    "textCenter": "",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Saratov, Russia)",
                    "mail": "glushkovskaya@mail.ru",
                    "name2": "Ivan Fedosov",
                    "text2": "Saratov State University, Saratov, Russia)",
                    "mail2": "fedosov_optics@mail.ru",
                    "title": "“Photostimulation of the brain drainage system during sleep”"
                },
                {
                    "time1": "15:55-16:20",
                    "time2": "19:55-20:20",
                    "time3": "13:55-14:20",
                    "textCenter": "",
                    "name": "Maria Farsari",
                    "text": "Laser Division, Institute of Electronic Structure and Laser (IESL), Foundation for Research and Technology-Hellas (FORTH, Greece)",
                    "mail": "mfarsari@iesl.forth.gr",
                    "title": "TITLE"
                },
                {
                    "time1": "16:20-16:45",
                    "time2": "20:20-20:45",
                    "time3": "14:20-14:45",
                    "textCenter": "",
                    "name": "____________",
                    "text": "Huazhong University of Science and Technology, MoE Key Laboratory for Biomedical Photonics, Collaborative Innovation Center for Biomedical Engineering, School of Engineering Sciences, Huazhong University of Science and Technology, Wuhan, Hubei, China",
                    "mail": "",
                    "title": "TITLE"
                },
            ],
        }
    ];

    let monday100 = [
        {
            "time":[
                {
                    "time1":"10:00-10:25",
                    "time2":"",
                    "time3":"",
                    "textCenter":"",
                    "name": "",
                    "text": "Pick up at the airport",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "10:00-12:00",
                    "time2": "",
                    "time3": "",
                    "textCenter":"",
                    "name": "",
                    "text": "Traveling to venue of school/Accommodation",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "10:00-12:00",
                    "time2": "",
                    "time3": "",
                    "textCenter":"Opening ceremony",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Laboratory “Smart Sleep”.",
                    "mail": "glushkovskaya@mail.ru",
                    "title": ""
                },
            ],
        },
        {
            "topText": "The perspective technologies for the study of brain as a complex system",
            "bottomText": "Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)",
            "time":[
                {
                    "time1": "14:10-14:35",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Jürgen Kurths",
                    "text": "Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany",
                    "mail": "Juergen.Kurths@pik-potsdam.de",
                    "title": "TITLE"
                },
                {
                    "time1": "14:10-14:35",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Teemu Myllylä",
                    "text": "University of Oulu, Oulu, Finland",
                    "mail": "teemu.myllyla@oulu.fi",
                    "title": "TITLE"
                },
                {
                    "time1": "15:05-15:30",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Felix Scholkmann",
                    "text": "Biomedical Optics Research Laboratory, Department of Department of Neonatology, University Hospital Zurich, University of Zurich; Neonatology Research, Department of Neonatology, University Hospital Zurich, University of Zurich",
                    "mail": "felix.scholkmann@usz.ch",
                    "title": "TITLE"
                },
                {
                    "time1": "15:30-15:55",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Dmitry Postnov",
                    "text": "Saratov State University, Saratov, Russia",
                    "mail": "postnovdmitry@googlemail.com",
                    "title": "TITLE"
                },
                {
                    "time1": "15:55-16:20",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "Alla Salmina",
                    "text": "Research Center of Neurology, Moscow, Russia",
                    "mail": "allasalmina@mail.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "16:20-18:00",
                    "time2": "",
                    "time3": "",
                    "textCenter": "",
                    "name": "",
                    "text": "Dinner",
                    "mail": "",
                    "title": ""
                },
            ],
        }
    ]

    let monday12 = [
        {
            "topText": "The perspective technologies for the study of brain as a complex system",
            "bottomText": "(Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)",
            "time":[
                {
                    "time1":"10:00-10:25",
                    "time2":"14:00-14:25",
                    "time3":"08:00-08:25",
                    "name": "Jürgen Kurths",
                    "text": "Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany",
                    "mail": "Juergen.Kurths@pik-potsdam.de",
                    "title": "Title"
                },
                {
                    "time1": "10:25-10:50",
                    "time2": "14:25-14:50",
                    "time3": "08:25-08:50",
                    "name": "Teemu Myllylä",
                    "text": "University of Oulu, Oulu, Finland",
                    "mail": "teemu.myllyla@oulu.fi",
                    "title": "Title"
                },
                {
                    "time1": "10:50-11:15",
                    "time2": "14:50-15:15",
                    "time3": "08:50-09:15",
                    "name": "Felix Scholkmann",
                    "text": "Biomedical Optics Research Laboratory, Department of Department of Neonatology, University Hospital Zurich, University of Zurich; Neonatology Research, Department of Neonatology, University Hospital Zurich, University of Zurich",
                    "mail": "felix.scholkmann@usz.ch",
                    "title": "Title"
                },
                {
                    "time1": "11:15-11:40",
                    "time2": "15:15-15:40",
                    "time3": "09:15-09:40",
                    "name": "Dmitry Postnov",
                    "text": "Saratov State University, Saratov, Russia",
                    "mail": "postnovdmitry@googlemail.com",
                    "title": "Title"
                },
                {
                    "time1": "11:40-12:00",
                    "time2": "15:40-16:00",
                    "time3": "09:40-10:00",
                    "name": "",
                    "text": "Coffee break",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "12:00-13:00",
                    "time2": "16:00-17:00",
                    "time3": "10:00-11:00",
                    "name": "",
                    "text": "Poster Session",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "13:00-16:00",
                    "time2": "17:00-20:00",
                    "time3": "11:00-14:00",
                    "name": "",
                    "text": "Excursion around Saratov and visit to Satarov State University and \"Smart Sleep\" laboratory",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "16:00-16:30",
                    "time2": "20:00-20:30",
                    "time3": "14:00-14:30",
                    "name": "",
                    "text": "Award for the best poster",
                    "mail": "",
                    "title": "Closing Ceremony"
                },
                {
                    "time1": "16:30",
                    "time2": "20:30",
                    "time3": "14:30",
                    "name": "",
                    "text": "Departure to the airport",
                    "mail": "",
                },
            ]
        }
    ]



mixin day(monday)
    each items in monday
        if items.topText
            tr
                td(colspan="2")
                    b !{items.topText}
                    br
                    i !{items.bottomText}
        each item in items.time
            tr
                td
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock2.png'), alt="")
                        .clock-text !{item.time1}
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock1.png'), alt="")
                        .clock-text !{item.time2}
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock3.png'), alt="")
                        .clock-text !{item.time3}
                td(align="left")
                    if item.textCenter
                        center
                            b !{item.textCenter}
                    if item.name
                        b !{item.name},
                    | !{item.text}
                    if item.mail
                        br
                        a(href='mailto:' + item.mail)
                            | !{item.mail}

                    if item.name2
                        br
                        br
                        b !{item.name2},
                    if item.text2
                        | !{item.text2}
                    if item.mail2
                        br
                        a(href='mailto:' + item.mail2)
                            | !{item.mail2}

                    if item.title
                        br
                        br
                        | !{item.title}


doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'lymphacomplex-program2023'
    body
        .lymphacomplex-program2023
            .container
                table(border="1" style="text-align:center;" width="100%")
                    tbody
                        tr
                            td Time
                            td
                                b
                                    i Monday 10
                        +day(monday10)
                        tr
                            td Time
                            td
                                b
                                    i Monday 11
                        +day(monday11)





                        //tr
                        //    td(colspan="2")
                        //        b The perspective technologies for the study of brain as a complex system
                        //        br
                        //        i (Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)
                        //
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:00-10:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:00-14:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:00-08:25
                        //    td(align="left")
                        //        b Jürgen Kurths,
                        //        | Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany
                        //        br
                        //        | Juergen.Kurths@pik-potsdam.de
                        //        br
                        //        | Title
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:25-10:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:25-14:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:25-08:50
                        //    td(align="left")
                        //        b Teemu Myllylä,
                        //        | University of Oulu, Oulu, Finland
                        //        br
                        //        | teemu.myllyla@oulu.fi
                        //        br
                        //        | Title


