-
    let monday10 = [
        {
            "time":[
                {
                    "time1": "18:00-20:00",
                    "time2": "22:00-00:00",
                    "time3": "16:00-18:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Pick up at the airport",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "20:00-22:00",
                    "time2": "00:00-02:00",
                    "time3": "18:00-20:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Traveling to venue of school/Accommodation",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "21:00-23:00",
                    "time2": "01:00-03:00",
                    "time3": "19:00-21:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Late Dinner",
                    "mail": "",
                    "title": ""
                },
            ],
        },

    ];

    let monday11 = [
        {
            "time":[
                {
                    "time1": "09:50-10:00",
                    "time2": "13:50-14:00",
                    "time3": "07:50-08:00",
                    "textCenter": "Opening ceremony",
                    "name": "Thomas Penzel",
                    "text": "Charité-Universitätsmedizin Berlin, Sleep Medicine Center, Berlin, Germany",
                    "mail": "thomas.penzel@charite.de",
                    "title": ""
                },
            ],
        },
        {
            "topText": "Sections of multi-disciplinary approaches in the study of sleeping brain and lymphatics",
            "bottomText": "(Chair: Jürgen Kurths, Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany)",
            "time": [
                {
                    "time1": "10:00-10:25",
                    "time2": "14:00-14:25",
                    "time3": "08:00-08:25",
                    "textCenter": "",
                    "name": "Thomas Penzel",
                    "text": "Charité-Universitätsmedizin Berlin, Sleep Medicine Center, Berlin, Germany",
                    "mail": "thomas.penzel@charite.de",
                    "title": "“Recording and Analysis of Human Sleep”"
                },
                {
                    "time1": "10:25-10:50",
                    "time2": "14:25-14:50",
                    "time3": "08:25-08:50",
                    "textCenter": "",
                    "name": "Jürgen Kurths",
                    "text": "Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany",
                    "mail": "juergen.kurths@pik-potsdam.de",
                    "title": "“Complex Networks: A Universal Approach in Physiology?”"
                },
                {
                    "time1": "10:50-11:15",
                    "time2": "14:50-15:15",
                    "time3": "08:50-09:15",
                    "textCenter": "",
                    "name": "Teemu Myllylä",
                    "text": "University of Oulu, Oulu, Finland",
                    "mail": "teemu.myllyla@oulu.fi",
                    "title": "“The Glymphometer - towards wearable monitoring of human neurohydrodynamics”"
                },
                {
                    "time1": "11:15-11:40",
                    "time2": "15:15-15:40",
                    "time3": "09:15-09:40",
                    "textCenter": "",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Saratov, Russia)",
                    "mail": "glushkovskaya@mail.ru",
                    "title": "“Photostimulation of the brain’s waste removal system”"
                },
                {
                    "time1": "11:40-12:05",
                    "time2": "15:40-16:05",
                    "time3": "09:40-10:05",
                    "textCenter": "",
                    "name": "Jonatan Kipnis",
                    "text": "Brain Immunology and Glia (BIG) Center, Washington University in St. Louis, School of Medicine",
                    "mail": "kipnis@wustl.edu",
                    "title": "“What do meningeal lymphatics do in healthy and diseased brain?”"
                },
                {
                    "time1": "12:05-12:25",
                    "time2": "16:05-16:25",
                    "time3": "10:05-10:25",
                    "textCenter": "",
                    "name": "____________",
                    "text": "Huazhong University of Science and Technology, MoE Key Laboratory for Biomedical Photonics, Collaborative Innovation Center for Biomedical Engineering, School of Engineering Sciences, Huazhong University of Science and Technology, Wuhan, Hubei, China",
                    "mail": "",
                    "title": "TITLE"
                },
                {
                    "time1": "12:25-14:00",
                    "time2": "16:25-18:00",
                    "time3": "10:25-12:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Lunch",
                    "mail": "",
                    "title": ""
                },
            ]
        },
        {
            "topText": "Sections of basic sleep research",
            "bottomText": "(Chair: Thomas Penzel, Charité-Universitätsmedizin Berlin)",
            "time": [
                {
                    "time1": "14:00-14:25",
                    "time2": "18:00-18:25",
                    "time3": "12:00-12:25",
                    "textCenter": "",
                    "name": "Alexander Kalinkin",
                    "text": "Medical Scientific and Educational Center, Moscow State University, Moscow, Russia",
                    "mail": "info@sleeplab.ru",
                    "title": "TITLE"
                },
                {
                    "time1": "14:25-14:50",
                    "time2": "18:25-18:50",
                    "time3": "12:25-12:50",
                    "textCenter": "",
                    "name": "Vladimir Dorokhov",
                    "text": "Laboratory of neurobiology of sleep and wake, Institute of Higher Nervous Activity and Neurophysiology, Russia Academy of Sience, Russia ",
                    "mail": "vbdorokhov@mail.ru",
                    "title": "“K-complexes as a marker of working memory activation during sleep upon restoration of disturbed activity”"
                },
                {
                    "time1": "14:50-15:15",
                    "time2": "18:50-19:15",
                    "time3": "12:50-13:15",
                    "textCenter": "",
                    "name": "Vladimir Kovalzon",
                    "text": "Institute of Problems of Ecology and Evolution. A.N. Severtsova, Russia Academy of Sience, Moscow, Russia",
                    "mail": "somnolog43@gmail.com",
                    "title": "“Cerebral information processing during sleep: evolutionary and ecological approaches”"
                },
                {
                    "time1": "15:15-15:40",
                    "time2": "19:15-19:40",
                    "time3": "13:15-13:40",
                    "textCenter": "",
                    "name": "Evgeny Verbitsky",
                    "text": "Federal Research Center Southern Scientific Center of the Russian Academy of Sciences, Rostov on Don, Russia",
                    "mail": "e_verbitsky@mail.ru",
                    "title": "“The active environment of the brain and sleep”"
                },
                {
                    "time1": "15:40-16:00",
                    "time2": "19:40-20:00",
                    "time3": "13:40-14:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Coffee brake",
                    "mail": "",
                    "title": ""
                },
            ],

        },
        {
            "topText": "Section of clinical and experimental neurophysiology",
            "bottomText": "(Chair: Oxana Semyachkina-Glushkovskaya, Saratov State University, Saratov, Russia)",
            "time": [
                {
                    "time1": "16:00-16:25",
                    "time2": "20:00-20:25",
                    "time3": "14:00-14:25",
                    "textCenter": "",
                    "name": "Alla Salmina",
                    "text": "Research Center of Neurology, Moscow, Russia",
                    "mail": "allasalmina@mail.ru",
                    "title": "“Brain plasticity: from subcellular organelles to multicellular ensembles”"
                },
                {
                    "time1": "16:25-16:50",
                    "time2": "20:25-20:50",
                    "time3": "14:25-14:50",
                    "textCenter": "",
                    "name": "Madaeva Irina",
                    "text": "Irkutsk Somnological Center, Irkutsk, Russia",
                    "mail": "nightchild@mail.ru",
                    "title": "“Sleep and aging”"
                },
                {
                    "time1": "16:50-17:15",
                    "time2": "20:50-21:15",
                    "time3": "14:50-15:15",
                    "textCenter": "",
                    "name": "Ludmila Yankovskaya",
                    "text": "Grodno Medical University, Grodno, Belarus",
                    "mail": "yankovliuda@yandex.by",
                    "title": "“Can a lack of sleep cause high blood pressure?”"
                },
                {
                    "time1": "17:15-17:40",
                    "time2": "21:15-21:40",
                    "time3": "15:15-15:40",
                    "textCenter": "",
                    "name": "Bedina Olga",
                    "text": "Irkutsk Somnological Center, Irkutsk, Russia",
                    "mail": "nightchild@mail.ru",
                    "title": "“Sleep EEG pattern in childhood: from newborn to adolescent”"
                },
                {
                    "time1": "17:40-18:00",
                    "time2": "21:40-22:00",
                    "time3": "15:40-16:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Сoffee break",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "18:00-19:30",
                    "time2": "22:00-23:30",
                    "time3": "16:00-18:30",
                    "textCenter": "",
                    "name": "",
                    "text": "Boat tour",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "19:30-22:00",
                    "time2": "23:30-02:00",
                    "time3": "18:30-20:00",
                    "textCenter": "",
                    "name": "",
                    "text": "Gala Dinner",
                    "mail": "",
                    "title": ""
                },
            ],
        }
    ];

    let monday12 = [
        {
            "topText": "Section of innovative technologies for brain research",
            "bottomText": "(Chair: Ivan Fedosov, Saratov State University, Saratov, Russia)",
            "time":[
                {
                    "time1":"10:00-10:25",
                    "time2":"14:00-14:25",
                    "time3":"08:00-08:25",
                    "name": "Ivan Fedosov",
                    "text": "Saratov State University, Saratov, Russia)",
                    "mail": "fedosov_optics@mail.ru",
                    "title": "“Brain waste removal system and sleep: photobiomodulation as an innovative strategy for night therapy of brain diseases”"
                },
                {
                    "time1": "10:25-10:50",
                    "time2": "14:25-14:50",
                    "time3": "08:25-08:50",
                    "name": "Felix Scholkmann",
                    "text": "Biomedical Optics Research Laboratory, Department of Department of Neonatology, University Hospital Zurich, University of Zurich; Neonatology Research, Department of Neonatology, University Hospital Zurich, University of Zurich",
                    "mail": "felix.scholkmann@usz.ch",
                    "title": "“Meningeal lymphatic vessels in the human head: Examples of in vivo visualization with high-resolution 3T MRI”"
                },
                {
                    "time1": "10:50-11:15",
                    "time2": "14:50-15:15",
                    "time3": "08:50-09:15",
                    "name": "Maria Farsari",
                    "text": "Laser Division, Institute of Electronic Structure and Laser (IESL), Foundation for Research and Technology-Hellas (FORTH, Greece)",
                    "mail": "mfarsari@iesl.forth.gr",
                    "title": "“Laser-Based additive manufacturing for biomedical applications”"
                },
                {
                    "time1": "11:15-11:40",
                    "time2": "15:15-15:40",
                    "time3": "09:15-09:40",
                    "name": "Vladimir Salmin",
                    "text": "National Research Nuclear University, National Research University «Moscow Institute of Physics and Technology», Bauman Moscow State Technical University.",
                    "mail": "vsalmin@gmail.com ",
                    "title": "“Fluorescence spectroscopy for brain research”"
                },
                {
                    "time1": "11:40-12:05",
                    "time2": "15:40-16:05",
                    "time3": "09:40-10:05",
                    "name": "Sergey Sokolosky",
                    "text": "Aston University",
                    "mail": "s.sokolovsky@aston.ac.uk",
                    "title": "“Photonic approaches in modulation of the neural cells: brain and cell culture”"
                },
                {
                    "time1": "12:05-13:00",
                    "time2": "16:05-17:00",
                    "time3": "10:05-11:00",
                    "name": "",
                    "text": "Coffee break/Poster Session",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "13:00-16:00",
                    "time2": "17:00-20:00",
                    "time3": "11:00-14:00",
                    "name": "",
                    "text": "Excursion around Saratov and visit to Satarov State University and \"Smart Sleep\" laboratory",
                    "mail": "",
                    "title": ""
                },
                {
                    "time1": "16:00-16:30",
                    "time2": "20:00-20:30",
                    "time3": "14:00-14:30",
                    "textCenter": "Award for the best poster / Closing Ceremony",
                    "name": "Oxana Semyachkina-Glushkovskaya",
                    "text": "Saratov State University, Laboratory “Smart Sleep”",
                    "mail": "glushkovskaya@mail.ru",
                    "title": ""
                },
                {
                    "time1": "16:30",
                    "time2": "20:30",
                    "time3": "14:30",
                    "name": "",
                    "text": "Departure to the airport",
                    "mail": "",
                },
            ]
        }
    ]



mixin day(monday)
    each items in monday
        if items.topText
            tr
                td(colspan="2")
                    b !{items.topText}
                    br
                    i !{items.bottomText}
        each item in items.time
            tr
                td
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock2.png'), alt="")
                        .clock-text !{item.time1}
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock1.png'), alt="")
                        .clock-text !{item.time2}
                    .clock__wrapper
                        .clock-img
                            img(src=require('/src/img/clock/clock3.png'), alt="")
                        .clock-text !{item.time3}
                td(align="left")
                    if item.textCenter
                        center
                            b !{item.textCenter}
                    if item.name
                        b !{item.name},
                    | !{item.text}
                    if item.mail
                        br
                        a(href='mailto:' + item.mail)
                            | !{item.mail}

                    if item.name2
                        br
                        br
                        b !{item.name2},
                    if item.text2
                        | !{item.text2}
                    if item.mail2
                        br
                        a(href='mailto:' + item.mail2)
                            | !{item.mail2}

                    if item.title
                        br
                        br
                        | !{item.title}


doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'lymphacomplex-program2023'
    body
        .lymphacomplex-program2023
            .container
                table(border="1" style="text-align:center;" width="100%")
                    tbody
                        tr
                            td Time
                            td
                                b
                                    i Monday 10
                        +day(monday10)
                        tr
                            td Time
                            td
                                b
                                    i Monday 11
                        +day(monday11)
                        tr
                            td Time
                            td
                                b
                                    i Monday 12
                        +day(monday12)






                        //tr
                        //    td(colspan="2")
                        //        b The perspective technologies for the study of brain as a complex system
                        //        br
                        //        i (Chair: Dmitry Postnov, Saratov State University, Saratov, Russia)
                        //
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:00-10:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:00-14:25
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:00-08:25
                        //    td(align="left")
                        //        b Jürgen Kurths,
                        //        | Humboldt University, Berlin; Potsdam Institute for Climate Impact Research, Potsdam, Germany
                        //        br
                        //        | Juergen.Kurths@pik-potsdam.de
                        //        br
                        //        | Title
                        //tr
                        //    td
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock1.png'), alt="")
                        //            .clock-text 10:25-10:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock2.png'), alt="")
                        //            .clock-text 14:25-14:50
                        //        .clock__wrapper
                        //            .clock-img
                        //                img(src=require('/src/img/clock/clock3.png'), alt="")
                        //            .clock-text 08:25-08:50
                        //    td(align="left")
                        //        b Teemu Myllylä,
                        //        | University of Oulu, Oulu, Finland
                        //        br
                        //        | teemu.myllyla@oulu.fi
                        //        br
                        //        | Title


